.footer {
  width: 100%;
  height: 75px;
  background-color: #f9f9f9;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0 20px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  margin-top: auto;
}

.footer img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin: 10px;
}

.footer .footer-text-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer .footer-text-flex p {
  font-size: 15px;
  font-weight: 300;
margin: 0;
}
.footer .footer-text-flex p span {
  color: #00adef;
  font-size: 15px;
  font-weight: 300;
}
.footer i {
  color: #00adef;
  font-size: 50px;
}
@media (max-width: 450px) {
  .footer {
    height: auto;
    flex-flow: column;
    gap: 0px;
  }
}