.main_comp {
  width: 100%;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.right_div {
  padding-right: 70px;
  width: 50%;
  text-align: right;
}
.right_div p {
  font-size: 25px;
}
.right_div h1 {
  color: #3871c1;
  font-size: 38px;
}
