.main_comp {
  width: 100%;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.right_div {
  padding-right: 70px;
  width: 50%;
  text-align: right;
}

.right_div p {
  font-size: 25px;
  line-height: 1.5;
  direction: rtl;
}

.right_div h1 {
  color: #3871c1;
  font-size: 38px;
  margin-bottom: 15px;
}

.main_comp img {
  width: 45%;
  height: auto;
}
@media (min-width: 1441px) {
  .main_comp {
    gap: 6rem;
  }

  .right_div h1 {
    font-size: 42px;
  }

  .right_div p {
    font-size: 28px;
  }

  .main_comp img {
    width: 40%;
  }
}
@media (max-width: 1440px) and (min-width: 1201px) {
  .main_comp {
    gap: 4.5rem;
  }

  .right_div h1 {
    font-size: 38px;
  }

  .right_div p {
    font-size: 25px;
  }

  .main_comp img {
    width: 45%;
  }
}
@media (max-width: 1200px) and (min-width: 901px) {
  .main_comp {
    gap: 3rem;
  }

  .right_div h1 {
    font-size: 34px;
  }

  .right_div p {
    font-size: 22px;
  }

  .main_comp img {
    width: 40%;
  }
}
@media (max-width: 900px) and (min-width: 601px) {
  .main_comp {
    flex-direction: column;
    gap: 2.5rem;
    height: auto;
    padding: 20px;
  }

  .right_div {
    width: 100%;
    padding-right: 0;
    text-align: center;
  }

  .right_div h1 {
    font-size: 28px;
  }

  .right_div p {
    font-size: 18px;
  }

  .main_comp img {
    width: 60%;
  }
}
@media (max-width: 600px) {
  .main_comp {
    flex-direction: column;
    gap: 1.5rem;
    height: auto;
    padding: 15px;
  }

  .right_div {
    width: 100%;
    padding-right: 0;
    text-align: center;
  }

  .right_div h1 {
    font-size: 24px;
  }

  .right_div p {
    font-size: 16px;
  }

  .main_comp img {
    width: 80%;
  }
}
