.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@font-face {
  font-family: "InderRegular";
  src: url("../public/Inder-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
.accordion-button::after {
  color: white !important;
  position: absolute;
  left: 20px;
}
.accordion-button:hover::after {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(105%)
    contrast(101%);
  transition: filter 0.5s ease;
}
.accordion-button:not(.collapsed)::after {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(105%)
    contrast(101%);
  transition: filter 0.5s ease;
}
.accordion-button:not(.collapsed) {
  color: #fff !important;
  background-color: #3871c1 !important;
  box-shadow: none !important;
}

.accordion-button:focus {
  box-shadow: none !important;
}

.accordion-button:hover {
  background-color: #3871c1 !important;
  color: #fff !important;
}
body {
  margin: 0;
  min-height: 100vh;
  font-family: "InderRegular" !important;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: #3871c1;
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  width: 5px;
  background-color: #f9f9f9;
}
.btn-primary {
  background: linear-gradient(45deg, #00adef, #3871c1);
  border: none !important;
  transition: all 1s ease-in-out !important;
  font-size: 20px !important;
}
.btn-primary:hover {
  background: linear-gradient(45deg, #3f70e3, #00adef, #3871c1, #04d0d0);
  transform: scale(1.1);
}
.btn-primary:active {
  background: linear-gradient(45deg, #3f70e3, #00adef, #3871c1, #04d0d0);
  transform: scale(1.1);
}
.dropdown-toggle::after {
  margin-right: 10px !important;
}
.dropdown-menu {
  text-align: right !important;
  height: 40vh !important;
  overflow-y: scroll;
  inset: auto !important;
  direction: ltr !important;
}
.dropdown-item {
  color: #3871c1 !important;
  padding: 10px 30px !important;
  font-size: 18px;
}
.dropdown-item:active {
  background-color: #f9f9f9 !important;
}